#milestonePageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 8em;
	margin-top: 8em;
}

#milestonePageContainer h1{
	font-size: 4em;
}

#milestoneBody {
	background-color: rgba(0,0,0,0.2);
	padding-bottom: 4em;
	padding-top: 4em;
	width: 80vw;

}

#subSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 4em;
	margin-bottom: 4em;
}

#subSection iframe {
	margin-bottom: 2em;
}

#yearSelectorContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 2.5em;
  background: #a63737;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0.5em;
}

.btn:hover {
  background: #ff3030;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px ){
    #milestonePageContainer {
        display: flex;
        flex-direction: column;
    }
	#milestonePageContainer h1{
		font-size: 35px;
	}
    iframe {
        width: auto;
        height: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
	#yearSelectorContainer h1{
		font-size: 25px;
	}
}