.NavBar{
    background-color: aqua;
    text-align: center;
    padding: 15px;
}

li{
    display: inline;
    padding: 10;
    margin: 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
}
