.NavBar{
    background-color: aqua;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

li{
    display: inline;
    margin: 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

/*this will be for menu css note this is temprary untill MenuPage is fix*/
h1{
    text-align: center;
}