#orderBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 8em;
	margin-top: 8em;
	
}

#orderBody {
	margin-left: 5em;
	margin-right: 5em;
	background-color: rgba(0,0,0,0.2);
	padding-bottom: 4em;
	padding-top: 4em;
}

#orderBody div{
	width: 100%;
}

#orderBody img{
	min-width: 8em;
	max-width: 16em;
	min-height: 8em;
	max-height: 16em;
	margin: 2em;
}